.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(12rpx);
  background: rgba(249, 250, 244, 0.7);
  border-top: 1rpx solid rgba(194, 200, 192, 0.15);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 18rpx 97rpx 48rpx;
  padding-bottom: calc(48rpx + env(safe-area-inset-bottom));
  border-radius: 32rpx 32rpx 0 0;
  box-shadow: 0 -8rpx 48rpx rgba(26, 28, 25, 0.06);
  z-index: 100;
}

.tab-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-icon-active-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rpx 32rpx;
  border-radius: 24rpx;
  background: linear-gradient(141deg, #163422 0%, #2d4b37 100%);
}

.tab-text-active {
  font-size: 22rpx;
  color: #ffffff;
  line-height: 34rpx;
  padding-top: 4rpx;
}

.tab-icon-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rpx 32rpx;
}

.tab-text {
  font-size: 22rpx;
  color: #44483d;
  line-height: 34rpx;
  padding-top: 4rpx;
}

.tab-icon {
  width: 33rpx;
  height: 33rpx;
}